// import/ui/Dashboard

import composeWithTracker from 'compose-with-tracker';

import Dashboard from './Dashboard.jsx';
import { Events } from '../../collections/events';

const loader = (props, onData) => {
    const subscription = Meteor.subscribe('events');

    if (subscription.ready()) {
        const events = Events.find().fetch();

        onData(null, { events });
    }
};

export default composeWithTracker(loader)(Dashboard);